<footer class="bg-dark pt-5">
  <div class="container">
    <div class="row pb-2">
      <div class="col-md-4 col-sm-6">
        <div class="widget widget-links widget-light pb-2 mb-4">
          <h3 class="widget-title text-light">Shop departments</h3>
          <ul class="widget-list">
            <li class="widget-list-item"><a class="widget-list-link" href="#">Sneakers &amp; Athletic</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="#">Athletic Apparel</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="#">Sandals</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="#">Jeans</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="#">Shirts &amp; Tops</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="#">Shorts</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="#">T-Shirts</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="#">Swimwear</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="#">Clogs &amp; Mules</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="#">Bags &amp; Wallets</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="#">Accessories</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="#">Sunglasses &amp; Eyewear</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="#">Watches</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="widget widget-links widget-light pb-2 mb-4">
          <h3 class="widget-title text-light">Account &amp; shipping info</h3>
          <ul class="widget-list">
            <li class="widget-list-item"><a class="widget-list-link" href="#">Your account</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="#">Shipping rates &amp; policies</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="#">Refunds &amp; replacements</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="#">Order tracking</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="#">Delivery info</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="#">Taxes &amp; fees</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="widget pb-2 mb-4">
          <h3 class="widget-title text-light pb-1">Stay informed</h3>
          <form class="subscription-form validate"
            action="https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126"
            method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
            <div class="input-group flex-nowrap"><i
                class="ci-mail position-absolute top-50 translate-middle-y text-muted fs-base ms-3"></i>
              <input class="form-control rounded-start" type="email" name="EMAIL" placeholder="Your email" required="">
              <button class="btn btn-primary" type="submit" name="subscribe">Subscribe*</button>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input class="subscription-form-antispam" type="text" name="b_c7103e2c981361a6639545bd5_29ca296126"
                tabindex="-1">
            </div>
            <div class="form-text text-light opacity-50">*Subscribe to our newsletter to receive early discount offers,
              updates and new products info.</div>
            <div class="subscription-status"></div>
          </form>
        </div>
        <div class="widget pb-2 mb-4">
          <h3 class="widget-title text-light pb-1">Download our app</h3>
          <div class="d-flex flex-wrap">
            <div class="me-2 mb-2"><a class="btn-market btn-apple" href="#" role="button"><span
                  class="btn-market-subtitle">Download on the</span><span class="btn-market-title">App Store</span></a>
            </div>
            <div class="mb-2"><a class="btn-market btn-google" href="#" role="button"><span
                  class="btn-market-subtitle">Download on the</span><span class="btn-market-title">Google
                  Play</span></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pt-5 pb-5 bg-darker">
    <div class="container">
      <div class="row pb-3">
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="d-flex"><i class="icofont-fast-delivery icofont-3x"></i>
            <div class="ps-3">
              <h6 class="fs-base text-light mb-1">Fast and free delivery</h6>
              <p class="mb-0 fs-ms text-light opacity-50">Free delivery for all orders over $200</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="d-flex"><i class="icofont-money icofont-3x"></i>
            <div class="ps-3">
              <h6 class="fs-base text-light mb-1">Money back guarantee</h6>
              <p class="mb-0 fs-ms text-light opacity-50">We return money within 30 days</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="d-flex"><i class="icofont-support icofont-3x"></i>
            <div class="ps-3">
              <h6 class="fs-base text-light mb-1">24/7 customer support</h6>
              <p class="mb-0 fs-ms text-light opacity-50">Friendly 24/7 customer support</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="d-flex"><i class="icofont-credit-card icofont-3x"></i>
            <div class="ps-3">
              <h6 class="fs-base text-light mb-1">Secure online payment</h6>
              <p class="mb-0 fs-ms text-light opacity-50">We possess SSL / Secure сertificate</p>
            </div>
          </div>
        </div>
      </div>
      <hr class="hr-light mb-2">
      <div class="widget widget-links widget-light">
        <ul class="widget-list d-flex flex-wrap justify-content-center ">
          <li class="widget-list-item me-4"><a class="widget-list-link text-decoration-none" href="#">Outlets</a></li>
          <li class="widget-list-item me-4"><a class="widget-list-link text-decoration-none" href="#">Affiliates</a></li>
          <li class="widget-list-item me-4"><a class="widget-list-link text-decoration-none" href="#">Support</a></li>
          <li class="widget-list-item me-4"><a class="widget-list-link text-decoration-none" href="#">Privacy</a></li>
          <li class="widget-list-item me-4"><a class="widget-list-link text-decoration-none" href="#">Terms of use</a></li>
        </ul>
      </div>
</footer>


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
</body>

</html>