body {
    margin: 0px;
    padding: 0px;
}


div {
    display: block;
}

.text-center {
    text-align: center !important;
}

header>.topbar,
.section-top {
    background-color: #222831;
    color: #fff;

}

.hr-light {
    color: rgba(255, 255, 255, 0.829);
}

/* .img-warp > img {
    width: 150px;
    height: auto;
} */

.container>.shadow-lg {
    margin-top: -3rem;
}

.product-home>.container {
    margin-top: 20px;
}

.img-warp {
    padding: 20px;
    margin: auto;
    height: auto;
}

.img-warp>.img-thumbnail {
    height: 200px;
    width: 200px;

}

.container-content {
    margin-top: -35px;
}

header>.topbar>.container>p {
    margin: 0px;
}

.section-specials {
    padding-top: 40px;
    padding-bottom: 40px;
}

figcaption>.card-title,
p {
    margin-bottom: 0px;
}

.info {
    padding-left: 15px;
}

header>.container {
    margin-left: 45px;
    margin-right: 45px;
}

header>.topbar {
    padding: 5px;
}

nav>.container>ul>li {
    margin-left: 10px;
}

@media (max-width: 360px) {
    nav>.container>.navbar-brand {
        display: none;
    }
}

button>.navbar-toggler {
    border: none;
}

.navbar>.container> {
    display: none;
}

/* DESKTOP VERSIONS */
@media(min-width: 992px) {



    body {
        margin: 0px;
        padding: 0px;
    }


    header>.topbar {
        background-color: #393e46;
        color: #fff;

    }

    header>.topbar>.container>p {
        margin: 0px;
    }

    header>.container {
        margin-left: 45px;
        margin-right: 45px;
    }

    header>.topbar {
        padding: 5px;
    }

    button>.navbar-toggler {
        border: none;
    }

    /* .img-warp > .img-thumbnail {
         height: 200px;
         width: 200px;
    } */


}