@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

* body,
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Hind', sans-serif;
    background-color: #dce2e7;
}

p,
h1,
h3,
h5,
h4,
h6,
h2,
a {
    font-family: 'Hind', sans-serif;
}



/* Electronic Css */
.bg-accent {
    background-color: #F6FAFD !important;
}


/* Product Css */



.page-title-overlap {
    padding-bottom: 6rem;
}

.page-title-overlap+* {
    margin-top: -4rem;
}

header>.topbar,
.section-top {
    background-color: #222831;
    color: #fff;

}

.container,
header>.container {
    margin-left: 45px;
    margin-right: 45px;
}

header>.topbar {
    padding: 5px;
}

header>.topbar>.container>p {
    margin: 0px;
}


.hr-light {
    color: rgba(255, 255, 255, 0.829);
}



section>.container-fluid {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

section>* a {
    text-decoration: none;
    color: #373F50;
}

.section-specials {
    padding-top: 40px;
    padding-bottom: 40px;
}

.img-warp {
    padding: 10px;
    margin: auto;
    height: auto;
}

.bg-faded-info {
    background-color: #EFF8FF;
}

.img-warp>.img-thumbnail {
    height: 200px;
    width: 200px;
}

.container-content {
    margin-top: -35px;
}


.category > .row > .col {
    background-color: #EFF8FF;
    color: #222831;
    border: 2px #222831 solid;
    padding: 1rem;
    text-align: center;
}





figcaption>.card-title,
.info {
    padding-left: 15px;
}



nav>.container>ul>li {
    margin-left: 10px;
}

@media (max-width: 360px) {
    nav>.container>.navbar-brand {
        display: none;
    }
}

/* button>.navbar-toggler {
    border: none;
}

.navbar>.container> {
    display: none;
} */

footer>.bg-dark {
    background-color: #373f50 !important;
}

footer>.bg-darker {
    background-color: #2b3445 !important
}

footer>* a {
    text-decoration: none;
    color: #7a7a80;
    opacity: 50;
}

footer>* .icofont-3x {

    color: #f5645a;
}

.widget-product-title>a {
    font-weight: 10px;
    color: #2b3445;
}


/* DESKTOP VERSIONS */
@media(min-width: 992px) {



    body {
        margin: 0px;
        padding: 0px;
    }


    header>.topbar {
        background-color: #393e46;
        color: #fff;

    }

    /* header>.topbar>.container>p {
        margin: 0px;
    } */

    /* header>.container {
        margin-left: 45px;
        margin-right: 45px;
    } */

    header>.topbar {
        padding: 5px;
    }

    button>.navbar-toggler {
        border: none;
    }

    /* .img-warp > .img-thumbnail {
         height: 200px;
         width: 200px;
    } */


}